.DS_Store
node_modules/
/.nuxt
/coverage/
*.log
*.retry
.mypy_cache
.pytest_cache
*.tgz
.env

static/manifest*.json
static/sw.js
static/workbox-sw*.js*

/hosts

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.vscode
*.sw?
