$family-sans-serif: "YuGothic", "Hiragino Sans", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$section-padding: 3rem 1.2rem;
$section-padding-medium: 9rem 1.2rem;
$section-padding-large: 18rem 1.2rem;

$body-line-height: 1.75;

$gap: 56px;

$title-line-height: 1.3;
$subtitle-negative-margin: -1rem;

$section-padding: 2.5rem 1.5rem;
